venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

**/log/*
!/log/.keep

**/*.ipynb_checkpoints/
**/tmp/*
**/.data/*
**/.DS_Store

training_spectrum_to_fgs/data/nist/
training_spectrum_to_fgs/data/target/*
!training_spectrum_to_fgs/data/target/.keep

training_spectrum_to_fgs/nohup*
training_spectrum_to_fgs/data-bin/

training_spectrum_to_fgs/src
training_spectrum_to_fgs/data/nist*.zip